# Ignore Tesseract FIles (size is too big)
/Tesseract-OCR

# Ignore logs
/logs

# Ignore images
/images

# Ignore PipFile.lock
Pipfile.lock

# Ignore pycache
__pycache__/

# Ignore .vscode
/.vscode

# Ignore dist/build folders
/dist
/build

# Ignore pyguidesktop.egg-info folder
/pyguidesktop.egg-info

# Ignore setup.py
setup.py
