[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyautogui = "*"
pytesseract = "*"
desktopmagic = "*"
numpy = "*"
opencv-python = "*"
pywin32 = "*"
Pillow = "*"
supervision = "*"
ultralytics = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
